.Textbox {
    background-color: lightblue;
    float: left;
    height: 60%;
    width: 25vw;
    margin: 20px;
    border: 20px;
    padding: 20px;
}

.Header {
    text-align: center;
}

ul {
    list-style-type: none;
}