#url {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ffffff; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Inform-header {
  background-color: #149152;
  height: 5vw;
  padding: 20px; }

.Inform-title {
  font-size: 1.5em;
  text-align: left; }

.Results {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #149152; }

.NameSection {
  margin: 0 20px 20px 20px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.BrandData {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 40px; }

.Rankings {
  margin: 0 20px 20px 20px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  text-align: left; }
  .Rankings h1 {
    text-align: left; }
  .Rankings ul {
    list-style-type: none; }
  .Rankings span {
    font-style: bold; }

.Header {
  text-align: center; }

.Splash {
  text-align: left;
  background-color: #149152;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw; }
  .Splash #description {
    padding-left: 25px;
    padding-right: 25px; }
  .Splash #instructions {
    text-align: center; }
  .Splash #companies {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px; }
  .Splash #tweet {
    text-align: center; }
  .Splash ul {
    list-style-type: none; }
  .Splash a {
    color: #0033cc;
    text-decoration: none; }
