$white: #ffffff;
$blue: #0033cc;
$bridesmaid: #FFEFEA;
$green: #499383;
$black: #000000;
$font: 'Questrial',
sans-serif;
#url {
    display: none;
}

body {
    font-family: $font;
    color: $black;
    width: 500px;
    height: 440px;
}

h3 {
    font-size: 24px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.Results {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 1fr 2fr 2fr 9fr 1fr;
    font-size: 16px;
    .extHeader {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Overall {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        #overallscoresection {
            grid-column: 1 / 2;
            justify-self: start;
            padding-left: 10px;
            #overall-score {
                font-size: 60px;
            }
        }
        #overalltitles {
            grid-column: 2 / 3;
            justify-self: end;
            align-self: center;
        }
        #overallbreakdown {
            grid-column: 3 / 4;
            justify-self: end;
            align-self: center;
            padding-right: 10px;
        }
    }
    .Competitors {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        align-self: center;
        display: flex;
        flex-direction: column;
        .competitorNames {
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: flex-start;
        }
        .competitorScore {
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
        }
    }
    .Details {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
        padding-left: 10px;
        padding-right: 10px;
    }
    .extFooter {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
        h1 {
            padding-left: 10px;
        }
    }
}

.Splash {
    width: 100vw;
    height: 100vw;
    a {
        color: $green;
        text-decoration: none;
    }
    a:visited {
        color: $green;
    }
    ul {
        list-style-type: none;
    }
    .SplashHeader {
        background-color: $bridesmaid;
        color: $black;
        height: 60vw;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 5fr 2fr;
        grid-template-rows: 1fr 10fr 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        .headerText {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            justify-self: end;
            ul {
                font-size: 18px;
            }
        }
        .headerImg {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
    .Overview {
        color: $black;
        font-size: 16px;
        display: grid;
        grid-template-columns: 2fr 1fr 2.5fr 1fr 2.5fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-image: url("assets/Wave.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 200vw;
        align-items: center;
        #overviewheader {
            grid-column: 2 / 7;
            grid-row: 2 / 3;
            justify-self: center;
            align-self: end;
        }
        #col1 {
            grid-column: 2 / 4;
            grid-row: 3 / 6;
            justify-self: center;
            align-self: start;
        }
        #col2 {
            grid-column: 5 / 7;
            grid-row: 3 / 6;
            justify-self: center;
            align-self: start;
        }
        #howtoheader {
            grid-column: 2 / 7;
            grid-row: 7 / 8;
            justify-self: center;
            align-self: end;
        }
        #howtotext {
            grid-column: 3 / 6;
            grid-row: 8 / 9;
            text-align: center;
            align-self: start;
        }
        #chromebutton {
            grid-column: 3 / 6;
            grid-row: 9 / 10;
            justify-self: center;
            align-self: start;
        }
        .button {
            background-color: $green;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
    .Companies {
        background-color: $white;
        color: $black;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr 2fr 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 6fr;
        align-items: center;
        #companiesheader {
            grid-column: 2 / 8;
            grid-row: 1 / 2;
            justify-self: center;
            align-self: start;
        }
        #companiestext {
            grid-column: 3 / 7;
            grid-row: 2 / 3;
            justify-self: center;
            align-self: start;
            text-align: center;
        }
        #firstCol {
            grid-column: 2 / 4;
            grid-row: 3 / 4;
            justify-self: center;
            align-self: start;
        }
        #secondCol {
            grid-column: 4 / 5;
            grid-row: 3 / 4;
            justify-self: center;
            align-self: start;
        }
        #thirdCol {
            grid-column: 5 / 6;
            grid-row: 3 / 4;
            justify-self: center;
            align-self: start;
        }
        #fourthCol {
            grid-column: 6 / 8;
            grid-row: 3 / 4;
            justify-self: center;
            align-self: start;
        }
    }
    .Footer {
        background-color: $bridesmaid;
        color: $black;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
        grid-template-rows: 100%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        .backtotop {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
        .footerdescription {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
        }
        .copyright {
            grid-column: 5 / 6;
            grid-row: 1 / 2;
        }
    }
}