// use flexbox to position the elements side by side of one another.
// use display: grid as well
$white: #ffffff;
$blue: #0033cc;
$bridesmaid: #FFEFEA;
$green: #499383;
$black: #000000;
$font: 'Open Sans Condensed',
sans-serif;
#url {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $white;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Inform-header {
    background-color: $green;
    height: 5vw;
    padding: 20px;
}

.Inform-title {
    font-size: 1.5em;
    text-align: left;
}

.Results {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $green;
}

.NameSection {
    margin: 0 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.BrandData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
}

.Rankings {
    margin: 0 20px 20px 20px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    text-align: left;
    h1 {
        text-align: left;
    }
    ul {
        list-style-type: none;
    }
    span {
        font-style: bold;
    }
}

.Splash {
    width: 100vw;
    font-size: 24px;
    a {
        color: $green;
        text-decoration: none;
    }
    a:visited {
        color: $green;
    }
    ul {
        list-style-type: none;
    }
    .SplashHeader {
        background-color: $bridesmaid;
        color: $black;
        height: 65vw;
        display: grid;
        grid-template-columns: 19% 17% 57% 7%;
        grid-template-rows: 9% 82% 9%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        .headerText {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .headerImg {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
    .Overview {
        margin-top: 60px;
        margin-bottom: 20px;
        background-color: $white;
        color: $black;
        height: 60vw;
        display: grid;
        grid-template-columns: 19% 31% 31% 19%;
        grid-template-rows: 9% 53% 8% 17% 9%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        #description {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            display: grid;
            grid-template-columns: 6% 16% 28% 6% 28% 16%;
            grid-template-rows: 9% 81% 9%;
            #col1 {
                grid-column: 2 / 4;
                grid-row: 2 / 3;
            }
            #col2 {
                grid-column: 5 / 7;
                grid-row: 2 / 3;
                align-self: end;
                justify-self: end;
            }
        }
        #howto {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        .button {
            background-color: $green;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
    .Companies {
        background-color: $white;
        color: $black;
        display: grid;
        grid-template-columns: 19% 15.5% 15.5% 15.5% 15.5% 19%;
        grid-template-rows: 100%;
        justify-items: start;
        align-items: center;
        justify-content: center;
        .companiesText {
            grid-column: 2 / 6;
            grid-row: 1 / 2;
        }
        .companiesList {
            display: grid;
            grid-template-columns: 19% 15.5% 15.5% 15.5% 15.5% 19%;
            grid-template-rows: 100%;
            justify-items: start;
            .firstCol {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            .secondCol {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            .thirdCol {
                grid-column: 4 / 5;
                grid-row: 1 / 2;
            }
            .fourthCol {
                grid-column: 5 / 6;
                grid-row: 1 / 2;
            }
        }
    }
    .Footer {
        background-color: $bridesmaid;
        color: $black;
        display: grid;
        grid-template-columns: 19% 20.67% 20.67% 20.66% 19%;
        grid-template-rows: 100%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        .backtotop {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .footerdescription {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        .copyright {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
    }
}